<!DOCTYPE html>
<html>
    <head>
        <script src="{{ asset('js/javascript.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendor/boostrap-datepicker/css/bootstrap-datepicker.standalone.min.css') }}"/>
        <script src="{{ asset('assets/vendor/boostrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>

        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
