{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personne edit</h1>

    <?php print_r(array_keys($edit_form)) />


    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}<br>

    <div class="col-md-3 col-sm-3 col-xs-12">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form.firstname, {'attr': {'class': 'form-control', 'placeholder':'firstname'}}) }}<br>
        {{ form_widget(edit_form.lastname, {'attr': {'class': 'form-control', 'placeholder':'lastname'}}) }}<br>
        {{ form_widget(edit_form.birthDate, {'attr': {'class': 'form-control', 'placeholder':'BirthDate' }}) }}<br>
        {{ form_widget(edit_form.city, {'attr': {'class': 'form-control', 'placeholder':'City' }}) }}<br>
        {{ form_widget(edit_form.email, {'attr': {'class': 'form-control', 'placeholder':'email' }}) }}<br></div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        {{ form_widget(edit_form.telephone, {'attr': {'class': 'form-control', 'placeholder':'telephone' }}) }}<br>
        {{ form_widget(edit_form.webSite, {'attr': {'class': 'form-control', 'placeholder':'website' }}) }}<br>

        {{ form_widget(edit_form.status, {'attr': {'class': 'form-control', 'placeholder':'website' }}) }}<br>
        {{ form_widget(edit_form.firm, {'attr': {'class': 'form-control', 'placeholder':'website' }}) }}<br>
        <input class="btn btn-med btn-primary btn-block" type="submit" value="Edit"/>
    </div>

    {{ form_end(edit_form) }}

<div class="col-md-12 col-sm-12 col-xs-12">
    <ul>
        <li>
            <a href="{{ path('personne_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-med btn-primary " type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
