{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personne list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Email</th>
                <th>Tels</th>
                <th>Website</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': personne.id }) }}">{{ personne.id }}</a></td>
                <td>{{ personne.firstname }}</td>
                <td>{{ personne.lastname }}</td>
                <td>{% if personne.birthDate %}{{ personne.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ personne.email }}</td>
                <td>{{ personne.tels }}</td>
                <td>{{ personne.webSite }}</td>
                <td>{{ personne.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personne_show', { 'id': personne.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('personne_edit', { 'id': personne.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personne_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
