{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personne</h1>

    <div class="table-responsive ">
    <table class="table .table-condensed">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ personne.id }}</td>
        </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ personne.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ personne.lastname }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if personne.birthDate %}{{ personne.birthDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personne.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ personne.telephone }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td><a href="{{ personne.webSite }}">{{ personne.webSite }}</a></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if personne.status == 1 %} Particulier {% endif %}{% if personne.status == 2 %} Professionnel {% endif %} </td>
            </tr>
        <tr>
            <th>City</th>
            <td>{{   personne.city }} </td>
        </tr>
        <tr>
            <th>Region</th>
            <td>{{   personne.city.region }} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{   personne.city.region.country }} </td>
        </tr>
        </tbody>
    </table>
</div>

    <ul>
        <li>
            <a href="{{ path('personne_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personne_edit', { 'id': personne.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-med btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
